html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 1127px;
    width: 100%;
    margin: 0 auto;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.w-1 {
    width: 100%;
    float: left;
}

.w-2 {
    width: 50%;
    float: left;
}

.w-3 {
    width: 33.33%;
    float: left;
}

.w-4 {
    width: 25%;
    float: left;
}

.w-5 {
    width: 20%;
    float: left;
}

.w-7 {
    width: 14.28%;
    float: left;
}

a {
    text-decoration: none;
}

.align-right {
    text-align: right;
}

.flex {
    display: flex;
    align-items: flex-end;
}

.red-border-left p {
    border-left: 4px solid #EB5757;
    padding: 1px 0 0 25px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 4px;
    padding-bottom: 0;
}

#mainlogo {
    padding-top: 10px;
}

#mainlogo img {
    width: 226px;
    height: 113px;
}

.logo img {
    width: 166px;
    height: 83px;
    margin-top: 10px;
}

#search {
    border-bottom: 1px solid #324950;
    display: inline-block;
    max-width: 350px;
    width: 100%;
    vertical-align: bottom;
    margin-top: 10px;
    margin-bottom: 43px;
}

#search input {
    font-size: 16px;
    color:#324950;
    background-color: transparent;
    border: none;
    max-width: 327px;
    width: 100%;
    height: 29px;
}

#search input::placeholder {
    color:#324950;
}

#search input:focus {
    outline: none;
}

#search button {
    background: url(../images/ico_search.png) no-repeat center;
    font-size: 0;
    height: 18px;
    width: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
}

#menu {
    width: 100%;
}

#menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu ul li {
    display: inline;
    margin-left: 13px;
}

#menu ul li a {
    text-decoration: none;
    color:#324950;
    font-size: 18px;
    font-weight: bold;
}

#menu ul li a:hover {
    color: #57984C;
}

#slider {
    text-align: center;
    background: url(../images/bg.png) no-repeat center;
    background-size : cover;
    padding: 338px 0px;
    margin-top: -127px;
}

#slider h1 {
    color: #735440;
    font-size: 48px;
    font-weight: bold;
}

#slider a {
    display: block;
    background-color: #57984C;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 155px;
    height: 57px;
    line-height: 55px;
    margin: 0 auto;
}

#categories ul {
    display: flex;
    width: auto;
    justify-content: space-evenly;
}

#categories ul li {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 190px;
}

#categories img {
    width: auto;
    height: auto;
}

#categories text {
    text-align: center;
}

#mainpage {
    background: url(../images/Union.svg) #f7f7f7 no-repeat;
    background-size:auto;
    background-position-y: 75px;
    background-position-x: center;
}

#text {
    padding-top: 150px;
}

#text h2 {
    padding-bottom: 20px;
    font-size: 64px;
    color: #324950;
}

#text p {
    font-size: 20px;
    color: #324950;
    line-height: 162.7%;
}

#mainpage img {
    box-shadow: 0px 20px 30px #cecece;
}

#mainpage .wrapper {
    padding-top: 75px;
}

#mainpage .row {
    padding-bottom: 100px;
}

#main_activities {
    background-color: #EDEDED;
}

h2 {
    margin: 0;
}

#main_activities .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plant_list {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 75px;
}

.plant {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.line {
    width: 183px;
    border-bottom: 1px solid #57984C;
}

.plant h3 {
    color: #57984C;
    margin-top: -12px;
}

.plant p {
    color: #324950;
    font-size: 18px;
}

#main_activities h2 {
    color:#324950;
    font-weight: bold;
    font-size: 64px;
    margin: 75px 0 30px 0;
}

.footer {
    height: 127px;
}

#topfooter {
    background-color: #2D3F45;
    height: 76px;
}

.footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    min-width: 724px;
    justify-content: space-between;
}

.footer ul li {
    display: inline;
    margin-left: 16px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

#topfooter .wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#topright {
    display: flex;
    justify-content: space-evenly;
    width: 211.2px;
}

#botfooter {
    background-color: #324950;
    height: 51px;
    color: #B9B9B9;
    text-align: center;
}

#botfooter p {
    padding-top: 20px;
    margin: 0;
    vertical-align: middle;
    font-size: 14px;
}

#tomato_all_slider img{
    width: 100%;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: -4px;
}

#main_content {
    line-height: 150%;
    font-size: 17px;
    color: #324950;
    background-color: #fcf0f0;
}

#main_content h1 {
    font-size: 44px;
    font-weight: bold;
    margin: 0;
    padding-top: 65px;
}

#main_content p {
    font-size: 17px;
    margin-bottom: 0;
}

#main_content #main_info p {
    margin-bottom: 30px;
}

#main_content svg {
    padding-top: 55px;
    padding-bottom: 10px;
}

#main_content .highlight-message p {
    margin: 4px 0;
}

#main_content .wrapper {
    max-width: 1110px;
}

#segments {
    background-color: #FFFAFA;
    max-height: 449.5px;
    height: 100%;
    max-width: 1152px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 30px;
}

#segments .w-3 {
    padding-top: 30px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

#segments .w-3 h3 {
    font-size: 20px;
    color: #324950;
    display: flex;
    align-items: start;
    flex-direction: column;
}

#segments .w-3 p {
    border-top: 1px solid #324950;
    margin-top: 0;
    font-size: 17px;
    color: #324950;
    padding-top: 20px;
    margin-bottom: 40px;
}

.examples {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px 0 20px;
    margin-top: 30px;
}

.example {
    display: flex;
    flex-direction: column;
    margin: 0 15px 30px 15px;
}
.example img {
    max-height: 252px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-width: 349px;
}
.example div {
    text-align: center;
    line-height: 142.7%;
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    color: #57984C;
    padding: 9px 0;
    min-height: 51px;
}
.example h3 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

.example p {
    font-size: 16px;
    color: #57984C;
    line-height: 142.7%;
}

#tomato_one_info {
    background-color: #f7f7f7;
}

#return {
    margin: 0;
    padding-top: 10px;
}

#return a {
    color: #57984C;
    font-size: 14px;
    display: flex;
    align-items: center;
}

#return a p {
    padding-left: 15px;
}

#header_one {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
}

#header_one .logo img{
    width: 166px;
    height: 83px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content #tomato_one_info {
    background: url(../images/Background_tomatoes.png) #f7f7f7 no-repeat;
    background-position-y: -90px;
    background-position-x: center;
}

#tomato_one_info h1 {
    margin-top: 20px;
    line-height: 142.7%;
    color:#57984C;
    font-weight: bold;
    font-size: 54px;
}

#tomato_one_info {
    padding-bottom: 125px;
}

#tomato_one_info h1 span {
    color:#324950;
    font-weight: bold;
    font-size: 54px;
}

#quote {
    align-items: center;
    margin: 44px 0;
    display: flex;
}

#quote p {
    margin: 0 0 0 23px;
    font-weight: bold;
    font-size: 30px;
    color: #CF2333;
}

#img_tomato_ex {
    margin-top: 20px;
}

.info_lists h5 {
    font-weight: bold;
    line-height: 142.7%;
    font-size: 20px;
    color: #57984C;
    margin-bottom: 0;
}

.info_lists ul {
    padding-left: 20px;
}

.info_lists ul li {
    color:#324950;
    font-size: 17px;
    line-height: 162.7%;
}

.info_lists ul li::marker {
    color:#57984C;
}

.info_lists hr {
    border-top: 1px solid #57984C;
    margin: 0;
    display: inline-block;
    width: 183px;
    color:#57984C;
}

.wrapper .row .w-2:last-child .info_lists {
    padding-left: 22px;
}

#downloadPDF {
    display: flex;
    background: url(../images/ico_pdf.png) no-repeat;
    background-position-x: 30px;
    background-position-y: 10px;
    border: 2px solid #57984C;
    width: 225px;
    height: 55px;
    border-radius: 30px;
    justify-content: center;
    margin: 30px 0 10px 0;
    background-color: white;
}

#downloadPDF p {
    margin: 10px 0 10px 40px;
    color:#57984C;
    font-size: 17px;
    line-height: 200%;
    font-weight: bold;
}

#img_pdf_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}